* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #81a2bd;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header, footer {
    height: 100px;
    background-color: white;
}

.container-header, .container-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 30%;
}

#container-griglia {
    width: 500px;
    height: 500px;
    margin: 50px auto 50px auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.facile {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: solid black 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.media {
    width: calc(100% / 9);
    height: calc(100% / 9);
    border: solid black 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.difficile {
    width: calc(100% / 7);
    height: calc(100% / 7);
    border: solid white 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cliccato {
    background-color: rgb(128, 215, 242);
    color: black;
}

